---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>c48 fonts</h1>
	<h2>
		Contains fonts that I use and I may as well host here for others too
	</h2>
	<p class="a"><a href="/about">about</a></p>
	<noscript>(you need javascript)</noscript>
	<div id="font-container"></div>
	<div id="right-flyout">
		<h2>included fonts</h2>
		<div id="included-fonts"></div>
		<p>add this to the top of your CSS file:</p>
		<div id="included-fonts-code"></div>
	</div>
</Layout>

<script>
	var fontsAdded: String[] = [];

	// URL of the JSON file containing font stylesheet URLs
	const jsonUrl = "https://assets.c48.uk/fonts/all.json";

	// Sample text to display for each font
	const sampleText = "The quick brown fox jumps over the lazy dog.";

	// Fetch the JSON data
	fetch(jsonUrl)
		.then((response) => response.json())
		.then((fonts) => {
			const fontContainer = document.getElementById("font-container");

			fonts.forEach((font: String) => {
				const fontWithoutHyphens = font.replace("-", " ");

				// Create a link element to load the font stylesheet
				const link = document.createElement("link");
				link.rel = "stylesheet";
				link.href = "https://assets.c48.uk/fonts/" + font + ".css";
				document.head.appendChild(link);

				// Create a card to display the font sample
				const fontSample = document.createElement("div");
				fontSample.classList.add("font-sample");

				// Display the font name
				const fontName = document.createElement("div");
				fontName.classList.add("font-name");
				fontName.textContent = fontWithoutHyphens;
				fontSample.appendChild(fontName);

				// Display the sample text in the font
				const sample = document.createElement("p");
				sample.classList.add("sample-text");
				sample.style.fontFamily = fontWithoutHyphens;
				sample.textContent = sampleText;
				fontSample.appendChild(sample);

				const addButton = document.createElement("button");
				addButton.textContent = "Add to page";
				addButton.classList.add("add-button");
				addButton.addEventListener("click", () => {
					if (fontsAdded.includes(font)) {
						alert("font already added");
						return;
					}
					fontsAdded.push(font);
					console.log(fontsAdded);
					updateIncludedFonts();
				});
				fontSample.appendChild(addButton);

				// Add the font sample card to the container
				fontContainer.appendChild(fontSample);
			});
			toggleRightFlyout();
		})
		.catch((error) => {
			console.error("Error loading fonts:", error);
		});

	function updateIncludedFonts() {
		const includedFonts = document.getElementById("included-fonts");
		const includedFontsCode = document.getElementById(
			"included-fonts-code",
		);
		includedFonts.innerHTML = "";
		includedFontsCode.innerHTML = "";
		fontsAdded.forEach((font) => {
			const fontName = font.replace("-", " ");
			const fontLink = document.createElement("span");
			if (includedFonts.innerHTML !== "") {
				fontLink.innerHTML = ", ";
			}
			fontLink.innerHTML += fontName;
			includedFonts.appendChild(fontLink);

			const fontCode = document.createElement("code");
			fontCode.innerHTML = `@import url('https://assets.c48.uk/fonts/${font}.css');<br>`;
			includedFontsCode.appendChild(fontCode);
		});
	}

	function toggleRightFlyout() {
		const rightFlyout = document.getElementById("right-flyout");
		if (rightFlyout.style.display === "block") {
			rightFlyout.style.display = "none";
		} else {
			rightFlyout.style.display = "block";
		}
	}
</script>